.body-calender{
    margin: 10px 3.5cm;
    background-color: white;
    padding: 20px 10px;
}

.btn{
    width: auto;
    height: auto;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: #135bf2;
}
.mx-2{
    margin-left: 10px;
}
.btn:hover{
    cursor: pointer;
}
.title-margin{
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  th, td {
    padding: 12px;
    border: none;
    text-align: left;
  }
  td{
    color: rgb(83, 83, 83);
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
  }
 
.gap{
    margin-left: 10px;
}

.calendar-container{
    margin-bottom: 20px;
}

.btn-secondary{
    color: orange;
}

.reservation-cancel{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: rgb(217, 255, 217);
    color: rgb(72, 167, 72);
    padding: 10px;
    border: 1px solid rgb(127, 234, 127);
    border-radius: 5px;
}

.text-warning{
    color: orange;
}