.body-calender{
    margin: 10px 3.5cm;
    background-color: white;
}

.btn{
    width: auto;
    height: auto;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: #135bf2;
    margin-bottom: 10px;
}
.mx-2{
    margin-left: 10px;
}
.btn:hover{
    cursor: pointer;
}