/* Importing Google font - Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.logo {
    font-size: 30px;
    color: black;
}

.bk {
    color: #1259f3;
    font-weight: 700;
}

.ticket {
    color: #4a4d4d;
    font-weight: 700;
}

.lk {
    color: #007bff;
    font-size: 10px; 
    vertical-align: super;
    line-height: 1.5;
    margin-top: 0.3em;
}

a {
    text-decoration: none;
}

header {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
}

header .navbar {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: 20px;
}

.navbar .menu-links li a {
    color: black;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 16px;
}

.navbar .menu-links li a:hover {
    color: #007bff;
}

.active {
    color: #007bff;
}

.flex {
    display: flex;
}

.right {
    float: right;
    display: flex;
    justify-content: end;
}

.signin {
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
    background: #135bf2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 2.5cm;
}

.signin span {
    margin-left: 5px;
}

.register {
    margin-top: 10px;
    margin-right: 15px;
}

.signin:hover {
    background-color: white;
    color: #135bf2;
    border: solid 1px #135bf2;
    cursor: pointer;
}

.register:hover {
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
    background: #135bf2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

/* Hamburger and Close Button */
#hamburger-btn {
    display: none;
    font-size: 1.7rem;
    color: black;
    cursor: pointer;
}

#close-menu-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Mobile Menu Behavior */
header.show-mobile-menu .menu-links {
    left: 0;
}

header.show-mobile-menu #hamburger-btn {
    display: none;
}

header.show-mobile-menu #close-menu-btn {
    display: block;
}

.hide-reg{
  display: none;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 900px) {
    #hamburger-btn {
        display: block;
    }

    .register, .signin{
      display: none;
    }

    .menu-links {
        position: fixed;
        flex-direction: column;
        left: -300px;
        top: 0;
        height: 100vh;
        max-width: 300px;
        width: 100%;
        background: #fff;
        display: block;
        padding: 75px 40px 0;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    header.show-mobile-menu .menu-links {
        left: 0;
    }

    #close-menu-btn {
        display: block;
    }

    .navbar .menu-links li {
        margin-bottom: 30px;
    }

    .navbar .menu-links li a {
        color: #000;
        font-size: 1.1rem;
    }

    .hide-reg{
      display: block;
    }
    .hide-reg i{
      font-size: 1.7rem;
      color: #135bf2;
      cursor: pointer;
      margin-right: -10px;
    }
}
